---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const identity = {
  firstName: "Jesus",
  country: "Bolivia",
  occupation: "System Engineers",
};
const skills  = ["html","css","javascript","java","python"]

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout>
  <main class="p-4">
    <h1 class="text-purple-900 text-center text-lg font-bold">{pageTitle}</h1>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>I'm {identity.firstName}</li>
      <li>I'm from {identity.country}</li>
      <li>I'm a {identity.occupation}</li>
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill)=><li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
  </main>
</BaseLayout>

<style define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>